body {
	padding:0;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

#contact {
	padding:40px 0;
}

/****** contact ******/
textarea {
	resize:none;
}

.input-80 {
	min-width: 80%;
	width: 80%;
}

#formResponse {
	font-weight: bold;
	display: none;
}

.formUnfilled {
	display: none;
}

label.valid {
  width: 24px;
  height: 24px;
  background: url(../img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

label.error {
  color: red;
  padding: 2px 0;
  margin-top: 2px;
  margin-bottom: -10px;
}

.warning {
	color: red;
}